:root{
  --PurpleBLue:#6135BC;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body{
  min-width: 100vw;
  min-height: 100vh;
  background-color:var(--PurpleBLue);
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;  
  font-family: 'Poppins', sans-serif;
  color:white;
  overflow-x: hidden;
}
